@import "tailwindcss";

@theme {
  --font-tigedeblug: 'Tigedeblug', sans-serif;
  --color-coutYellow: #f4cf77;
  --color-coutPurple: #2f2e6e;
}

@font-face {
  font-family: 'Tigedeblug';
  src: url('./assets/fonts/Tigedeblug.ttf') format('truetype');
}

body {
  background-color: #a5b4fc;
  background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");
  overflow: hidden;
}

#app {
  background-color: #a5b4fc;
  background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
