body::-webkit-scrollbar {
  width: 0.2em;
  background-color: transparent;
}

@font-face {
  font-family: 'Tigedeblug';
  src: url('./assets/fonts/Tigedeblug.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

